# Python
__pycache__/
*.py[cod]
*.egg-info/

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente / segredos
.env

# Django
*.sqlite3
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/
*.log

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
